@{
    ViewBag.Title = "SaveImage";
}

<head>
    <link href="../../Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<script src="../../Content/Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>

<form action="" method="post" enctype="multipart/form-data">

  <label for="file">Filename:</label>
  <input type="file" name="file" id="file" />

  <input type="submit" />
</form>


<h2>SaveImage</h2>
