@using BookStore.DataAccess
@using BookStore.Models
@using BookStore.Web
@using BookStore.Web.Security
@model BookStore.Models.Order

@{
    ViewBag.Title = "FinishShop";
}

<html>
    <head>
        <link href="~/Content/Site.css" rel="stylesheet" />
    </head>

    <form method="POST">
        <div class="container">
            <div class="col-xs-6 well">
                @{
                    string message = "Your payment has been done successffuly." + "<br/>" + "The receipt number is: <b>" + @Model.ReceiptNumber + "</b>";
                }
                
                @if (AuthorizeHelper.GetCurrentUser() != null)
                {
                    message += "<br/>" + "The receipt was also sent to your email.";
                }
                
                @BookStotreHtmHelper.DisplayMessage(message)
            </div>
        
            <div class="col-xs-12">
                @Html.ActionLink("Return", "ListBooks", "Book", new { categoryCode = 4 }, null)
            </div>
        </div>
       
    </form>

</html>


