@using BookStore.Models
@using BookStore.Web

<html>
<head>
    <link href="~/Content/Bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Content/JQuery_1.11.1/jquery.min.js" ></script>
    <script src="~/Content/Bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Content/Scripts/Session.js"></script>
    <script src="~/Content/Scripts/LoadShopItemsCount.js"></script>
    <script src="~/Content/Scripts/Search.js"></script>

    <script type='text/javascript'>
        function setSearchTerm() {
            var qString = location.search;

            if (qString.indexOf('searchTerm') != -1) {
                var index = qString.indexOf('searchTerm=') + "searchTerm=".length;
                var data = qString.substring(index);
                data = data.replace("%20", " ");

                if (data.indexOf('&') != -1) {
                    data = data.substring(0, data.indexOf('&'));
                }

                document.getElementById("searchTextBox").value = data;
                document.getElementById("searchTextBox").focus();
            }
        }
    </script>
</head>

	<body onload="setSearchTerm()">
		<nav class="navbar navbar-inverse">
			<div class="container-fluid">
				<div class="navbar-header" style="margin-left: 5px">
					<span style="font-size: xx-large; color: white;">
						<a href="/Book/ListBooks">Book Store</a>
					</span>
				</div>
				<div>
					<ul class="nav navbar-nav">
						<li>
							<span class="input-group" style="max-width: 400px; margin-top: 5px; margin-left: 5px">
								<input id="searchTextBox" type="text" placeholder="" class="form-control"
									   onkeydown="if (event.keyCode == 13) { Search() }">
								<span class="input-group-btn">
									<button class="btn btn-default" type="button" id="searchButton" onclick="Search()">
										<i class="glyphicon glyphicon-search"></i>
									</button>
								</span>
							</span>
						</li>
					</ul>

                    <ul class="nav navbar-nav navbar-right">
                        @if (Session[DataKeys.User] != null)
                        {
                            Customer customer = (Customer) Session[DataKeys.User];

                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-user"></span>
                                    @customer.Email
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="/Customer/Logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else if (CommonUtils.GetCurrentPageName() != "Login".ToLower() && CommonUtils.GetCurrentPageName() != "SignUp".ToLower())
                        {
                            <li class="dropdown">
                                <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="navSignUp">
                                    <span class="glyphicon glyphicon-user"></span> Sign Up
                                </a>
                                <div class="dropdown-menu" style="padding:17px;">
                                    @Html.Partial("SignUp")
                                </div>
                            </li>

                            <li class="dropdown" id="menuLogin">
                                <a class="dropdown-toggle" 1 href="#" data-toggle="dropdown" id="navLogin">
                                    <span class="glyphicon glyphicon-log-in"></span> Login
                                </a>
                                <div class="dropdown-menu" style="padding:17px;">
                                    @Html.Partial("Login")
                                </div>
                            </li>
                        }

                            <li class="dropdown">
                                @{
                                    string hrefLink = null;

                                    if (Session[DataKeys.ShopItemsCount] != null && ((int) Session[DataKeys.ShopItemsCount]) > 0)
                                    {
                                        string targetName = "Login";

                                        if (Session[DataKeys.User] != null)
                                        {
                                            targetName = "ShopList";
                                        }

                                        hrefLink = BookStotreHtmHelper.Contact("href=/Customer/", targetName);
                                    }
                                }
                                
                                <a id="shopItemsLink" class="dropdown-toggle" @hrefLink id="navLogin">
                                    <span class="glyphicon glyphicon-shopping-cart"></span> Buy
                                    <span id="shopItemsCount" style="color: greenyellow; font-weight: bold; font-size: large"></span>
                                    <script type="text/javascript">
                                        LoadShopItesmCount();
                                    </script>
                                </a>
                            </li>
                    </ul>
				</div>
			</div>
		</nav>
	</body>
</html>
