@{
    ViewBag.Title = "FinishShop";
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Content/Bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/Content/Scripts/ClosePayment.js"></script>
</head>

<html>
    <form method="POST" style="min-width: 300px" id="paymentForm">
        <div class="col-xs-12 well">
            <div>
                <input type="text" name="CreditReceiptNumber" id="CreditNumber" class="form-control" placeholder="Credit ReceiptNumber" />
            </div>

            <div>
                <input type="password" name="CreditPassword" id="CreditPassword" class="form-control" placeholder="Credit Password" />
            </div>

            <div style="margin-top: 10px" />
            
            <div>
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </form>
</html>


