@using BookStore.Models

<html>
    <form>
        <div class="container">
            @foreach (Book book in ((List<Book>)ViewData["Books"]))
            {
                @Html.Partial("BookSummary", book)
            }
        </div>
    </form>
</html>