@using BookStore.Models
@using BookStore.Web

<html>
    <form>
        <div class="container">
            @foreach (Book book in ((List<Book>) ViewData[DataKeys.Books]) )
            {
                @Html.Partial("BookSummary", book)
            }
        </div>

        <div align="center">
            <ul class="pagination">
                @for (int pageNo = 1; pageNo <= ((int)ViewData[DataKeys.BooksPageNumbers]); pageNo++)
                {
                    if (pageNo == (int)ViewData[DataKeys.CurrentPage])
                    {
                        <li class="active">
                            <a href="#">@pageNo</a>
                        </li>
                    }
                    else
                    {
                        <li>
                            @{
                                string searchTerm = (string)ViewData[DataKeys.SearchTerm];
                                if (searchTerm != null && searchTerm.Trim() != "")
                                {
                                    <a href="/Book/ListBooks?searchTerm=@searchTerm&page=@pageNo">@pageNo</a>
                                }
                                else
                                {
                                    <a href="/Book/ListBooks?page=@pageNo">@pageNo</a>
                                }
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </form>
</html>