@using BookStore.Models
@using BookStore.Web

<html>
    <form method="POST">
        <div class="container">
            @foreach (Book book in ((List<Book>)ViewData["Books"]))
            {
                @Html.Partial("BookSummary", book)
            }
        </div>
</form>
</html>