@using BookStore.Models
@using BookStore.Web

<div class="container">
    @foreach (Book book in ((List<Book>) ViewData[DataKeys.Books]) )
    {
        @Html.Partial("BookSummary", book)
    }
</div>

