@using BookStore.Web
@model BookStore.Models.Book

<head>
    <script src="~/Content/JQuery_1.11.1/jquery.min.js" ></script>
    <script src="~/Content/Scripts/Session.js"></script>
    <script src="~/Content/Scripts/AddShopItem.js"></script>
    <link href="~/Content/Bootstrap/css/bootstrap-slider.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="col-sm-12">
        @{
            ViewDataDictionary viewDataDictionary = new ViewDataDictionary();
            viewDataDictionary.Add(DataKeys.ExpandView, true);
            @Html.Partial("BookSummary", @Model, viewDataDictionary)
        }
    </div>

    <div class="col-sm-12" style="padding-top: 2px">
        @Html.ActionLink("Back to List", "ListBooks")
    </div>
</div>

